In [2]:
import pandas as pd
geo_zone=pd.DataFrame({'SS':[2000,1000], 'SW':[2300,14000], 'SE':[2400,3000], 'NS':[2500,2300], 'NW':[3500,2300], 'NE':[5000,2000], 'NC':[5500,4000]}, index=['tinubu','peter obi'])
geo_zone

             SS     SW    SE    NS    NW    NE    NC
tinubu     2000   2300  2400  2500  3500  5000  5500
peter obi  1000  14000  3000  2300  2300  2000  4000

In [3]:
def prt_total(data):
    total_citizen_supporters = data.sum(1)
    return total_citizen_supporters
prt_total(geo_zone)

tinubu       23200
peter obi    28600
dtype: int64